/__pycache__/
*.git/
venv/
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env/
venv/
.venv/
env*
dist/
build/
*.egg
*.egg-info/
.tox/
.cache/
.pytest_cache/
.idea/
docs/_build/
.vscode
.git/
/hugging_face_files/
/hugging_face_files
hugging_face_files/
# Coverage reports
htmlcov/
.coverage
.coverage.*
*,cover